<%- include('partials/header') %>

<h1>Gullfoss</h1>

<div class="container">
    <div class="foss-info">
        <p>
            Gullfoss er einn frægasti foss Íslands og er staðsettur í Hvítá.
            Hann er hluti af Gullna hringnum og laðar að sér fjölda ferðamanna á hverju ári.
        </p>

        <p>
            Fossinn fellur í tveimur þrepum og er flottur og kraftmikill.
        </p>
    </div>
</div>

<div id="buttons">
    <a href="/"><button>Til baka í matseðil</button></a>
</div>

<%- include('partials/footer') %>