<%- include('partials/header') %>

<h1>Gullfoss</h1>

<div class="container">
    <div class="foss-info">
        <p>
            Gullfoss er foss í Hvítá upp af Haukadal í Árnessýslu á Íslandi, 
            hann er einn vinsælasti ferðamannastaður landsins.
        </p>

        <p>
            Fossinn er 32 metra hár og fellur í tvemur þrepum, fyrsta þrepið er 11 metra hár
            og annað þrepið er 21 metra hár.
        </p>
        <img src="images/gullfoss.jpg" alt="Gullfoss">
    </div>
</div>

<div id="buttons">
    <a href="/"><button>Til baka í matseðil</button></a>
</div>

<%- include('partials/footer') %>