<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkefni_2026</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="foss-info">
        <div class="midja">
            <p><strong>Hæ, Þetta er verkefni um matseðil í FB og upplýsingar um Gullfoss</strong></p>
        </div>
    </div>
</body>
</html>